<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta 1: Asado de Tira a la Parrilla</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos adicionales -->
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Receta 1: Asado de Tira a la Parrilla</h1>

        <div class="row">
            <!-- Información de la receta -->
            <div class="col-md-8 mx-auto">
                <div class="card mb-4">
                    <img src="https://www.tresjotas.com/wp-content/uploads/2020/03/Asado-de-tira-a-la-parrilla.jpg" alt="Asado de Tira">
                    <div class="card-body">
                        <h5 class="card-title">
                            <Asado de Tira a la Parrilla /h5>
                        <p class="card-text">El asado de tira es un corte de carne vacuna proveniente de las costillas, conocido por su sabor y textura jugosa. En esta receta aprenderás a prepararlo en la parrilla de manera deliciosa.</p>
                        <h6 class="card-subtitle mb-2 text-muted">Valoración</h6>
                        <p class="card-text">⭐️⭐️⭐️⭐️⭐️</p>
                        <!-- Pasos de la receta -->
                        <h6 class="card-subtitle mb-2 text-muted">Pasos</h6>
                        <ol>
                            <li>Prepara la parrilla y asegúrate de que esté a una temperatura media.</li>
                            <li>Condimenta las tiras de asado con sal, pimienta y tus hierbas favoritas.</li>
                            <li>Cocina las tiras de asado en la parrilla durante 15-20 minutos por cada lado, hasta que estén cocidas a tu gusto.</li>
                            <li>Sirve caliente y disfruta.</li>
                        </ol>
                        <p class="card-text">Para ver el video en YouTube, haz click <a href="https://youtu.be/5sl60slSG0w?si=9ghzserXUqJ2a_ie" target="_blank">aquí</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript y dependencias -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
