.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.card-title {
    color: black;
    font-weight: bold;
}

.btn-group .btn {
    margin-right: 5px;
}

    .btn-group .btn:last-child {
        margin-right: 0;
    }

.modal-header {
    background-color: #2c0b0b;
    color: white;
}

.modal-footer {
    border-top: 1px solid white;
}

.btn-success {
    background-color: #E32A07;
    border-color: #E32A07;
}

    .btn-success:hover {
        background-color: #2c0b0b;
        border-color: #2c0b0b;
    }
.btn-primary {
    background-color: #E32A07;
    border-color: #E32A07;
}

    .btn-primary:hover {
        background-color: #E32A07;
        border-color: #E32A07;
    }