main{
    font-family: Arial, sans-serif;
    padding-left: 0;
    margin-bottom: 5rem;
}

aside {
    width: 300px;
    background-color: #fff;
    margin-left: 100PX;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    font-size: larger;
    border-right: 2px solid #ddd; /* Borde gris claro de 2px en el lado derecho */
}

.col-lg-8 {
    flex: 0 0 90%; 
}

.col-md-2,
.col-md-3 {
    flex: 0 0 25%
}
.aplicar-btn {
    background-color: #ED3330;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

    .aplicar-btn i {
        margin-right: 5px;
    }
.boton-buscar {
    padding: 5px 10px;
    background-color: #2C0B0B; 
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px; 
}

    .boton-buscar i {
        margin-right: 5px;
        justify-items: center;
    }

    .boton-buscar:hover {
        background-color: #5B2B29; 
    }

.filtro {
    margin-bottom: 20px; 
    text-align: center; 
}

    .filtro form {
        display: inline-flex; 
        align-items: center; 
    }

.filtro-dropdown {
    padding: 5px 10px; 
    margin-right: 10px; 
}

.filtro input[type="text"] {
    padding: 5px;
    margin-right: 10px; 
}