body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.content-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #040404;
}

.btn-primary {
    background-color: #e32a07;
}

    .btn-primary:hover {
        background-color: #5b2b29;
    }

.table {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .table th,
    .table td {
        border-top: none;
        vertical-align: middle;
    }

/* Estilo para los elementos del formulario */
.form-control {
    font-size: 20px; /* Tamaño de letra más grande */
}
