body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#gestion {
    width: 100%;
    padding: 20px;
}

.tabla {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color:#e7dfd1;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px;
    height: auto;
}

.boton-desactivar {
    background-color: #E32A07;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .boton-desactivar:hover {
        background-color: #cc2906; /* Un verde un poco más claro o más oscuro para el efecto hover */
    }

.boton-activar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .boton-activar:hover {
        background-color: #419441; /* Un verde un poco más claro o más oscuro para el efecto hover */
    }

.boton-editar {
    background-color: #5B2B29;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .boton-editar:hover {
        background-color: #2C0B0B; /* Un rojo un poco más claro o más oscuro para el efecto hover */
    }

.filtro-y-crear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filtro {
    margin-bottom: 20px; /* Espacio entre el formulario y la tabla */
    text-align: center; /* Centrar el formulario si es necesario */
}

    .filtro form {
        display: inline-flex; /* Para alinear los elementos del formulario horizontalmente */
        align-items: center; /* Alinear verticalmente los elementos del formulario */
    }

.filtro-dropdown {
    padding: 5px 10px; /* Ajustar al gusto */
    margin-right: 10px; /* Espacio entre el dropdown y el input de texto */
}

.filtro input[type="text"] {
    padding: 5px;
    margin-right: 10px; /* Espacio entre el input de texto y el botón */
}

.boton-buscar {
    padding: 5px 10px;
    background-color: #5B2B29; /* O ajustar al color deseado */
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px; /* Opcional, para bordes redondeados */
}

    .boton-buscar i {
        margin-right: 5px;
        justify-items:center;
    }

    .boton-buscar:hover {
        background-color: #2C0B0B; /* Un tono más claro o más oscuro para el hover */
    }

/* Estilo para el botón Crear Usuario */
.boton-crear {
    background-color: #5B2B29; /* Utiliza el mismo color que el botón editar para la consistencia */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .boton-crear:hover {
        background-color: #2C0B0B; /* Oscurece un poco para el efecto hover */
    }

/* Asegúrate de que el contenedor del filtro tenga un ancho máximo para permitir el alineamiento correcto */
.filtro {
    flex: 1;
    max-width: calc(100% - 150px); /* 150px es un ejemplo, ajusta según el ancho de tu botón Crear */
}

/* Ajusta el margen o el ancho del botón de búsqueda si es necesario para alinear con el botón crear */
.boton-buscar {
    margin-right: 10px; /* Asegúrate de que el margen derecho no empuje el botón fuera de alineación */
}
