.description {
    padding: 20px;
    border: 2px solid;
    font-size: 1.2rem; /* Aumenta el tamaño del texto */
    margin-bottom: 20px; /* Agrega un margen inferior */
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 20px; /* Aumenta el padding interno */
    margin-bottom: 20px;
    min-height: 250px; /* Ajusta esta altura según sea necesario */
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.card-title {
    color: black;
    font-weight: bold;
    font-size: 1.5rem; /* Aumenta el tamaño del título */
}

.card-text {
    font-size: 1.2rem; /* Aumenta el tamaño del texto */
}

.btn-group .btn {
    margin-right: 5px;
}

    .btn-group .btn:last-child {
        margin-right: 0;
    }

.modal-header {
    background-color: #2c0b0b;
    color: white;
}

.modal-footer {
    border-top: 1px solid #007bff;
}

.btn-success {
    background-color: #E32A07;
    border-color: #E32A07;
}

    .btn-success:hover {
        background-color: #2c0b0b;
        border-color: #2c0b0b;
    }

.btn-primary {
    background-color: #E32A07;
    border-color: #E32A07;
}

    .btn-primary:hover {
        background-color: #2c0b0b;
        border-color: #2c0b0b;
    }
