@model IEnumerable<ANP_Academy.DAL.Models.Suscripcion>
@inject Microsoft.AspNetCore.Identity.UserManager<ANP_Academy.DAL.Models.Usuario> UserManager
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="~/css/Suscripciones/Suscripciones.css" asp-append-version="true" />

<div class="container mt-4">
    <h1 class="text-center">Suscripciones</h1>
    <div class="row">
        <div class="col-12">
            <div class="description">
                <h3>Descripción General</h3>
                <p>
                    Aquí puedes encontrar diferentes planes de suscripción que ofrecemos.
                    Acceso completo a material exclusivo, actualizaciones regulares. Posibilidad de cancelar en cualquier momento sin compromisos a largo plazo. Selecciona el plan que mejor se adapte a tus necesidades y disfruta de nuestros servicios exclusivos.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card mb-4 shadow-sm w-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@item.Nombre</h5>
                        <p class="card-text">Precio: <span class="font-weight-bold">@item.Precio CRC</span></p>
                        <p class="card-text">Duración: <span class="font-weight-bold">@item.Duracion meses</span></p>
                        <div class="btn-center mt-auto">
                            <!-- Usar directamente el enlace como un botón -->
                            <a class="btn btn-danger btn-lg" href="@Url.Action("AdquirirSuscripcion", "Suscripciones", new { id = item.IdSuscripcion})">Adquirir Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script src="~/js/Admin/GestionPlanes.js"></script>