

body {
    overflow-x: hidden;
    height: 100%;
    margin:0;
    font-family: "Inconsolata", sans-serif
}

header {
    background-color: #000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin 20px;
}

.nav-links {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
}
    .nav-links li {
        display: inline;
        margin-left: 20px;
    }

    .nav-links a {
        text-decoration: none;
        color: white!important;
        font-size: 16px;
    }
    .nav-links button{
        margin-left: 20px;
        
    }

    

/*Botones de autenticacion para los usuarios*/
.auth-buttons {
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
}

    .auth-buttons a {
        text-decoration: none;
        padding: 10px 20px;
        margin-right: 10px;
        border: 2px solid #ED3330; 
        border-radius: 5px; 
        background-color: #ED3330;
        color: white !important;
        transition: all 0.3s ease; 
    }

        .auth-buttons a:hover {
            border: 2px solid darkred;
            background-color: darkred;
            color: white !important;
        }

    /*Main*/
    .hero {
    text-align: center;
    padding: 100px 20px;
    }

    .hero h1 {
        font-size: 48px;
        line-height: 1.2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

main {
    background: white;
    padding: 50px 5%;
}

.intro {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

    .intro h2, .intro h3 {
        margin-bottom: 20px;
    }



/* Responsive Typography */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }

    .intro h2, .intro h3 {
        font-size: 24px;
    }
}


footer {
    background: #000;
    color: white;
    padding: 20px 5%;
    text-align: center;
    padding-top: 3em;
    font-size: 0.8em;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 3em;
}

.footer-section {
    margin-bottom: 2em;
}

    .footer-section h3 {
        color: #ed3330;
        margin-bottom: 1em;
    }

    .footer-section p, .footer-section a {
        color: #bbb;
        line-height: 1.5;
    }

    .footer-section a {
        text-decoration: none;
    }

.socials a {
    margin-right: 0.5em;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #444;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: none;
}

.contact-form button {
    background: #ed3330;
    color: white;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
}

    .contact-form button:hover {
        background: #fa4747;
    }




@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 1em;
    }
}
