/* Set the font for the whole page */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inconsolata', sans-serif;
    background-color: #0a0a0a;
    color: #FFFAFA;
}

/* Flex container for the two partitions */
.container {
    display: flex;
    height: 100%;
}

/* Left partition styles */
.left-partition {
    width: 40%;
    padding: 20px;
    background-color: #000000; /* Dark background */
    position: relative;
    z-index: 1;
}

.left-partition-title {

    text-align: center;
}

.list-title, .list-item {
    margin: 0 0 10px 0;
}

.list-item {
    margin-left: 20px; /* Indentation for list items */
}

/* Image at the bottom left of the left partition */
.bottom-left-image {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 45%; /* Adjust the size accordingly */
    height: auto;
    z-index: -1;
}

/* Right partition styles */
.right-partition {
    width: 60%;
    padding: 20px;
    background-color: #000000; /* Lighter background for contrast */
}

/* Form and elements styling */
.form-container {
    background-color: #000000;
    border-radius: 8px;
    padding: 40px;
    max-width: 400px;
    margin: auto;
}

input[type='text'],
input[type='email'],
input[type='password'] { /* Si tienes campos de fecha */
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #040404; /* Color de texto negro para los campos de entrada */
    background-color: #FFFAFA; /* Puedes ajustar esto si quieres otro color de fondo */
    /* Asegúrate de que no hay otros estilos que estén sobrescribiendo este color */
}

/* Button styling */
.button {
    width: 100%;
    padding: 10px;
    background-color: #ed3330; /* Red background */
    border: none;
    border-radius: 5px;
    color: #0a0a0a;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .button:hover {
        background-color: darkred;
        color: #0a0a0a !important;
    }

/* Smaller text and link styling */
.smaller-text {
    text-align: center;
    font-size: 0.9em;
}

a {
    color: #0095f6; /* ANP's theme color or any color that stands out */
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
