<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ANP - Academia Nacional De Parrilleros</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="~/Img/LogoANP.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Img/LogoANP.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <!--Links para estilos de w3 para el menu desplegable del admin-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/ANP_Academy.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="logo"><a  asp-controller="Home" asp-action="Index" ><img src="~/Img/LogoANP.png" alt="LogoANP" style="height: 95px; width: 120px; margin-left:10px"></a></div>
            <ul class="nav-links">
                <li><a href="~/Clase/Index">Clases</a></li>
                <li><a asp-controller="SobreNosotros" asp-action="SobreNosotros">Sobre Nosotros</a></li>
                <li><a href="~/Recetas/Index">Recetas</a></li>
                <li><a href="~/FAQs/Index">FAQs</a></li>
                <li><a href="~/Foro/Index">Foro</a></li>
                <li><a href="~/Suscripciones/Index">Suscripciones</a></li> 
                <li><a href="#chat">ChatBot</a></li>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Admin Menu">Admin</button>
            </ul>
            <!--Inicio de Menu desplegable para Modulos de Admin-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
                 <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 m-3">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="ControlSuscrip" style="color: #2A2A2A; font-size: x-large;"><i class="fa-solid fa-wallet" style="margin-right: 15px;"></i> Subscripciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="GestionUsuarios" style="color: #2A2A2A; font-size: x-large;"><i class="fa-solid fa-user" style="margin-right: 15px;"></i> Gestión de Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="GestionInventario" style="color: #2A2A2A; font-size: x-large;"><i class="fa-solid fa-boxes-stacked" style="margin-right: 15px;"></i> Inventario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="GestionForo" style="color: #2A2A2A; font-size: x-large;"><i class="fa-solid fa-bullhorn" style="margin-right: 15px;"></i> Gestión del Foro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="GestionContenido" style="color: #2A2A2A; font-size: x-large;"><i class="fa-solid fa-photo-film" style="margin-right: 15px;"></i> Gestión Contenidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="MostrarRecaudacion" style="color: #2A2A2A; font-size: x-large;"><i class="fa-solid fa-money-bill-trend-up" style="margin-right: 15px;"></i> Recaudación</a>
                        </li>
                </ul>

                </div>
            </div>
        <!--Fin de Menu desplegable para Modulos de Admin-->
            
        <div class="auth-buttons">
            <a href="@Url.Action("Signup", "Usuario")" class="register">Regístrate</a>
            <a href="@Url.Action("Login", "Usuario")" class="login">Iniciar Sesión</a>
         </div>

        </nav>
        
    </header>
    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
   

    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Sobre ANP Rodrigo Morales</h3>
                <p>
                    Mantenemos viva la llama. <br> Contáctanos al 8489-7303
                </p>
                <div class="socials">
                    <a href="https://www.facebook.com/p/Academia-Nacional-de-Parrilleros-Rodrigo-Morales-61550549834259/">Facebook</a> |
                    <a href="https://www.instagram.com/anp_rodrigomorales/">Instagram</a>
                </div>
            </div>
            <div class="footer-section contact-form">
                <h3>Contáctanos</h3>
                <form action="#">
                    <input type="email" name="email" placeholder="Su correo" required>
                    <textarea name="message" rows="4" placeholder="Su mensaje" required></textarea>
                    <button class="boton-enviar" type="submit">Enviar</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 ANP Academy | Designed by ANP Design Team
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/2964e4382f.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
