

    <main>
    <div class="hero">
        <h1>ANP<br>Academia Nacional de Parrilleros<br>Rodrigo Morales</h1>
    </div>
        <section class="intro">
            <h2>Aprende de los mejores expertos parrilleros desde la comodidad de tu casa.</h2>
            <h3>Accede a recetas y clases disponibles exclusivamente en nuestra plataforma de aprendizaje en línea.</h3>
            <p>
                Descubre el arte del asado en nuestro paraíso de las parrillas. 
            </p>
            <p>
                 Todos los meses estamos liberando nuevos cursos e increíbles recetas para tu completo aprendizaje.
            </p>
        </section>


    </main>

