

    <main>
    <div class="hero">
        <h1>ANP ACADEMY<br>Academia Nacional de Parrilleros</h1>
    </div>
        <section class="intro">
            <h2>Our Educational Approach</h2>
            <h3>Empowered Teaching, Limitless Potential</h3>
            <p>
                Our academy is a vibrant community that fosters growth and success for both tutors and students. We
                provide a supportive and enriching environment where tutors are empowered to inspire and guide students
                towards achieving their academic goals.
            </p>
            <p>
                Our academy promotes collaboration, critical thinking, and effective communication, cultivating a culture
                of continuous learning and intellectual curiosity.
            </p>
        </section>


    </main>

