/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: gray;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    text-align: center;
}

.card-title {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
}

.card-body {
    padding: 20px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dl-horizontal dt {
    float: left;
    width: 30%;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 35%;
}

.btn {
    margin-right: 10px;
}

.btn-primary {
    background-color: #5b2b39;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-right: 10px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #4e2532; /* Color más oscuro para el hover */
    }

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
    .card-title {
        font-size: 1.5rem;
    }

    .dl-horizontal dt {
        width: 100%;
        text-align: left;
    }

    .dl-horizontal dd {
        margin-left: 0;
    }

    .btn {
        font-size: 0.875rem;
        padding: 8px 15px;
    }
}
