@model ANP_Academy.DAL.Models.Usuario

<link rel="stylesheet" href="~/css/Usuario/Edit.css" asp-append-version="true" />

<h1 class="center-text">Editar Perfil</h1>

@if (TempData["UsernameInUse"] != null)
{
    <div class="alert alert-danger">
        @TempData["UsernameInUse"]
    </div>
}

<form asp-action="Edit" method="post" class="profile-form">
    <div class="form-group">
        <label asp-for="UserName">Usuario</label>
        <input asp-for="UserName" class="form-control" required />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Correo Electrónico</label>
        <input asp-for="Email" class="form-control" type="email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" required />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PrimApellido">Primer Apellido</label>
        <input asp-for="PrimApellido" class="form-control" required />
        <span asp-validation-for="PrimApellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SegApellido">Segundo Apellido</label>
        <input asp-for="SegApellido" class="form-control" required />
        <span asp-validation-for="SegApellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Teléfono</label>
        <input asp-for="PhoneNumber" class="form-control" required pattern="\d{8,}" title="El número de teléfono debe tener al menos 8 caracteres numéricos." />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notificaciones">¿Desea recibir notificaciones del nuevo contenido?</label>
        <input asp-for="Notificaciones" type="checkbox" />
        <span asp-validation-for="Notificaciones" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <button type="button" class="btn btn-secondary" onclick="history.back()">Atrás</button>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
