@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/signup.css" />

<div class="container">
    <div class="left-partition">
        <h2 class="left-partition-title">¿Quieres llevar tus habilidades parrilleras al siguiente nivel?</h2>
        <h4>Suscríbete a la plataforma de aprendizaje en línea para obtener los siguientes beneficios:</h4>
        <ul>
            <li class="list-item">Accede a recetas en cualquier momento.</li>
            <li class="list-item">Lecciones en video con expertos de las parrillas.</li>
            <li class="list-item">Conoce a más personas que comparten la pasión de las parrillas a través de nuestro foro.</li>
        </ul>
        <img src="~/img/LogoANP.png" alt="Descripción" class="bottom-left-image" />
    </div>
    <div class="right-partition">
        <div class="form-container">
            <h2>Crea tu cuenta ANP Rodrigo Morales</h2>
            <form action="@Url.Action("CuentaCreada", "Usuario")">

                <input type="email" placeholder="Correo electronico" />
                <input type="text" placeholder="Nombre completo" />
                <input type="text" placeholder="Número de teléfono"/>
                <input type="password" placeholder="Contraseña" />
                <input type="password" placeholder="Confirmar la contraseña" />
                <button type="submit" class="button">Crear cuenta</button>
            </form>
            <p class="smaller-text">
                ¿Ya tienes una cuenta? <a href="~/Usuario/Login">Iniciar sesión</a>
            </p>
        </div>
    </div>
</div>