@model IEnumerable<ANP_Academy.DAL.Models.Publicacion>

<link rel="stylesheet" href="~/css/Foro/Foro.css" asp-append-version="true" />


    <div class="container">
        <h2>Foro de Discusión</h2>
        <button class="button" onclick="window.location.href='/Foro/CrearPublicacion';">Crear Publicación</button>
        <button class="button" onclick="window.location.href='/Foro/MisPublicaciones';">Mis Publicaciones</button>

        <!-- Primer comentario -->
        @foreach (var publicacion in Model)
        {
            <div class="comment">
                <div class="user"> @Html.DisplayFor(modelItem => publicacion.CodigoUsuarioId)</div> <!--Obtener el usuario y la fecha de creacion-->
                <div class="other"> @Html.DisplayFor(modelItem => publicacion.FechaPublicacion)</div>
                <div class="content"> @Html.DisplayFor(modelItem => publicacion.Descripcion)</div> <!--Descripcion-->
                <div class="attachments">
                    <!--Multimedia-->
                    <span><i class="fa-regular fa-flag fa-xl" style="color: #df0c0c;"></i> <img src="https://via.placeholder.com/100" alt="Imagen adjunta"></span>
                </div>

                <!-- Botón para reportar comentario -->
                <button class="report-btn" onclick="toggleReportForm('report-form-1')">Reportar</button> <!--Cambiar boton por un icono-->
                <!-- Formulario para reportar comentario -->
                <div id="report-form-1" class="report-form">
                    <label for="report-reason-1">Motivo del reporte:</label>
                    <select name="report-reason-1" id="report-reason-1">
                        <option value="spam">Spam</option>
                        <option value="inapropiado">Contenido inapropiado</option>
                        <option value="otros">Otros</option>
                    </select>
                    <button>Enviar reporte</button>
                </div>

                <!--Poner otro foreach para los comentarios de esta publicacion-->
                <div class="reply-form">
                    <textarea placeholder="Escribe tu comentario aquí..."></textarea>
                    <button>Responder</button>
                </div>
            </div>
        }
    </div>

    <script>
        // Función para alternar la visibilidad del formulario de reporte
        function toggleReportForm(id) {
            var form = document.getElementById(id);
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>

