@model IEnumerable<ANP_Academy.DAL.Models.Publicacion>
@{
    var userId = ViewData["UserId"] as string;
}

<link rel="stylesheet" href="~/css/Foro/MisPublicaciones.css" asp-append-version="true" />


    <div class="container">
        <h2>Mis Publicaciones</h2>
        @foreach (var publicacion in Model)
        {
        if (!string.IsNullOrEmpty(userId) && publicacion.CodigoUsuarioId == userId)
        {
            <div class="comment">
                <div class="user"> @Html.DisplayFor(modelItem => publicacion.CodigoUsuario.Nombre)</div>
                <div class="other"> @Html.DisplayFor(modelItem => publicacion.FechaPublicacion)</div>
                <div class="content"> @Html.DisplayFor(modelItem => publicacion.Descripcion)</div>
                <div class="attachments">
                    <!--TODO Multimedia-->
                    <span class="attachment"> <img src="https://via.placeholder.com/100" alt="Imagen adjunta"></span>
                </div>
               
                <div class="reply-form">
                    <form id="FormDelete" asp-action="Delete" method="post">
                        <input id="IdPublicacion" name="IdPublicacion" type="hidden" asp-for="@publicacion.IdPublicacion" />
                        <button type="button" id="deleteBtn" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        }
      }
    </div>

<script src="~/js/Foro/MisPublicaciones.js"></script>

