body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}
h2 {
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center; /* Alineación centrada del contenido */
}

.button {
    background-color: #5b2b29;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Añadido un margen inferior */
}

    .button:hover {
        background-color: #2c0b0b;
    }

.comment {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    background-color: #f9f9f9;
    text-align: left; /* Alineación de los comentarios a la izquierda */
}

    .comment .user {
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }

    .comment .content {
        margin-bottom: 10px;
        color: #555;
    }

    .comment .attachments {
        margin-top: 10px;
    }

.attachment {
    margin-right: 10px;
}

    .attachment img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
    }

.report-btn {
    background-color: #e32a07;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 5px;
    right: 5px;
}

.report-form {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

    .report-form label {
        display: block;
        margin-bottom: 5px;
    }

    .report-form select {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ddd;
    }

    .report-form button {
        margin-top: 5px;
        background-color: #2c0b0b;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .report-form button:hover {
            background-color: #5b2b29;
        }

.reply-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

    .reply-form textarea {
        width: calc(100% - 20px);
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        resize: none;
    }

    .reply-form button {
        background-color: #2c0b0b;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .reply-form button:hover {
            background-color: #5b2b29;
        }
