body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}
h2 {
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.button {
    background-color: #e32a07;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Agregado para que los botones se vean como enlaces */
    display: inline-block; /* Agregado para que los botones se vean como enlaces */
    margin-right: 5px; /* Espacio entre los botones */
}

    .button:hover {
        background-color: #5b2b29;
    }
