@{

}
<link rel="stylesheet" href="~/css/Administrador/GestionSuscrip.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Gestión de Suscripciones y Pagos</h2>
        <div class="tabla">
            <table>
                <tr>
                    <th>Usuarios</th>
                    <th>Suscripciones</th>
                    <th>Pagos</th>
                    <th></th> 
                </tr>
                <tr>
                    <td>Usuario1</td>
                    <td>Suscripción A</td>
                    <td><img src="https://theorytest.org.uk/wp-content/uploads/2021/01/no-loading-sign.png" alt="Ejemplo de pago"></td>
                    <td><button class="boton-verde"><i class="fas fa-check"></i> Confirmar</button></td>
                </tr>
                <tr>
                    <td>Usuario2</td>
                    <td>Suscripción B</td>
                    <td><img src="https://theorytest.org.uk/wp-content/uploads/2021/01/no-loading-sign.png" alt="Ejemplo de pago"></td> <!-- Aquí puedes añadir datos de pagos si es necesario -->
                    <td><button class="boton-verde"><i class="fas fa-check"></i> Confirmar</button></td>
                </tr>
                <tr>
                    <td>Usuario3</td>
                    <td>Suscripción C</td>
                    <td><img src="https://theorytest.org.uk/wp-content/uploads/2021/01/no-loading-sign.png" alt="Ejemplo de pago"></td> <!-- Aquí puedes añadir datos de pagos si es necesario -->
                    <td><button class="boton-verde"><i class="fas fa-check"></i> Confirmar</button></td>
                </tr>
            </table>
        </div>
    </section>
</main>





