@model ANP_Academy.DAL.Models.Suscripcion

@{
    ViewData["Title"] = "Editar Plan";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="~/css/Administrador/EditPlanes.css" asp-append-version="true" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <h1 class="text-center">Editar Suscripción</h1>
                <hr />
                <form asp-action="EditPlanes">
                    <div class="form-group">
                        <input type="hidden" asp-for="IdSuscripcion" />
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duracion" class="control-label"></label>
                        <input asp-for="Duracion" class="form-control" />
                        <span asp-validation-for="Duracion" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-lg" />
                        <a asp-action="GestionPlanes" class="btn btn-secondary btn-lg ml-3">Volver a la Lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
