@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Administrador/GestionUsuarios.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Gestión de usuarios</h2>
        <div class="filtro-y-crear">
            <div class="filtro">
                <form>
                    <select name="filtro" aria-label="Buscar por" class="filtro-dropdown">
                        <option value="" disabled selected>Buscar por...</option>
                        <option value="identificador">Identificador</option>
                        <option value="nombre">Nombre</option>
                        <option value="correo">Correo Electrónico</option>
                    </select>
                    <input type="text" name="valor" aria-label="Valor de búsqueda" placeholder="Escribe aquí...">
                    <button type="submit" class="boton-buscar"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="crear-usuario">
                <a href="@Url.Action("CrearUsuario", "Admin")" class="boton-crear">Crear usuario</a>
            </div>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <th>Identificador</th>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Usuario1</td>
                    <td>usuario1@gmail.com</td>
                    <td>8451-7845</td>
                    <td>Estudiante</td>
                    <td>Activo</td>
                    <td>
                        <a href="@Url.Action("EditarUsuario", "Admin")" class="boton-editar">Editar</a>
                        <a class="boton-desactivar">Desactivar</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Usuario2</td>
                    <td>usuario2@yahoo.com</td>
                    <td>8787-5411</td>
                    <td>Profesor</td>
                    <td>Inactivo</td>
                    <td>
                        <a href="@Url.Action("EditarUsuario", "Admin")" class="boton-editar">Editar</a>
                        <a class="boton-activar">Activar</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Usuario3</td>
                    <td>usuario3@gmail.com.com</td>
                    <td>8451-4545</td>
                    <td>Administrador</td>
                    <td>Activo</td>
                    <td>
                        <a href="@Url.Action("EditarUsuario", "Admin")" class="boton-editar">Editar</a>
                        <a class="boton-desactivar">Desactivar</a>
                    </td>
                </tr>
                
            </table>
        </div>
    </section>
</main>
