<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Contenidos</title>
    <!-- Bootstrap CSS (puedes quitarlo si no lo necesitas) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Administrador/GestionContenido.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="content-box">
                    <h1 class="text-center mb-4">Gestión de Contenidos</h1>
                    <a href="~/Admin/ContenidoFormulario" class="btn btn-danger mb-3">Cargar Archivos</a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Etiqueta</th>
                                <th>Archivo</th>
                                <th>Acciones<th/>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se mostrarán los datos de los contenidos -->
                            <tr>
                                <td>Asado de Tira a la Parrilla</td>
                                <td>Condimentado con sal, pimienta y hierbas secas al gusto.</td>
                                <td>Receta</td>
                                <td><a href="/AsadoTira.pdf">AsadoTira.pdf</a></td> <!-- No redirecciona a ningun lado -->
                                <td>
                                    <a href="@Url.Action("EditarInventario", "Admin")" class="btn btn-danger">Editar</a>
                                    <a class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
