@model ANP_Academy.ViewModel.ContabilidadViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Administrador/MostrarContabilidad.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Contabilidad</h2>
        <div class="filtro-y-crear">
            <div class="filtro">
                <div class="fecha-corte-busqueda">
                    <label for="fechaCorte" class="etiqueta-fecha-corte">Selecciona una fecha de corte:</label>
                    <input type="date" id="fechaCorte" name="valor" aria-label="Valor de búsqueda" class="input-fecha-corte">
                    <button type="submit" class="boton-buscar"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="crear-usuario">
                <a href="@Url.Action("MostrarContabilidad", "Admin")" class="boton-crear">Descargar facturas asociadas al corte</a>
            </div>
        </div>
        <div class="tabla">
            <div class="tabla">
                <table>
                    <tr>
                        <th>Tipo de suscripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Recaudación</th>
                    </tr>
                    @foreach (var suscripcion in Model.Suscripciones)
                    {
                        var cantidad = Model.Solicitudes.Count(s => s.IdSuscripcion == suscripcion.IdSuscripcion && s.Estado == true);
                        var total = suscripcion.Precio * cantidad;

                        <tr>
                            <td>@suscripcion.Nombre</td>
                            <td>₡@suscripcion.Precio</td>
                            <td>@cantidad</td>
                            <td>₡@total</td>
                        </tr>
                    }

                </table>

        </div>
        </div>
        <div class="recaudacion-y-fecha">
            <div class="fecha-corte">
                <h3>Fecha de corte: 20//04/2024</h3>
            </div>
            @{
                var totalGeneral = Model.Suscripciones.Sum(s =>
                Model.Solicitudes.Where(sol => sol.IdSuscripcion == s.IdSuscripcion && sol.Estado == true)
                .Sum(sol => s.Precio));
            }
            <h3>Recaudación total: ₡@totalGeneral</h3>
        </div>
    </section>
</main>

