@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Administrador/MostrarRecaudacion.css" asp-append-version="true" />

<main>
    <section id="gestion">
        <h2 style="text-align: center;">Recaudación</h2>
        <div class="filtro-y-crear">
            <div class="filtro">
                <div class="fecha-corte-busqueda">
                    <label for="fechaCorte" class="etiqueta-fecha-corte">Selecciona una fecha de corte:</label>
                    <input type="date" id="fechaCorte" name="valor" aria-label="Valor de búsqueda" class="input-fecha-corte">
                    <button type="submit" class="boton-buscar"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="crear-usuario">
                <a href="@Url.Action("MostrarRecaudacion", "Admin")" class="boton-crear">Descargar facturas asociadas al corte</a>
            </div>
        </div>
        <div class="tabla">
            <div class="tabla">
                <table>
                    <tr>
                        <th>Tipo de suscripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Recaudación</th>
                    </tr>
                    <tr>
                        <td>Mensual</td>
                        <td>₡5000</td>
                        <td>40</td>
                        <td>₡200000</td>
                    </tr>
                    <tr>
                        <td>Trimestral</td>
                        <td>₡12000</td>
                        <td>13</td>
                        <td>₡156000</td>
                    </tr>
                    <tr>
                        <td>Anual</td>
                        <td>₡55000</td>
                        <td>5</td>
                        <td>₡275000</td>
                    </tr>

                </table>

        </div>
        <div class="recaudacion-y-fecha">
            <div class="fecha-corte">
                <h3>Fecha de corte: 20//04/2024</h3>
            </div>
            <h3>Recaudación total: ₡631000</h3>
        </div>
    </section>
</main>

